body{
  background-color: #FAFAFA;
  /*margin: 40px 70px 20px 70px; */
  font-family: 'Space Grotesk';
}
header{
  padding: 0px 100px 0px 100px;
  border-bottom:  ridge 1px rgb(71, 68, 68);
  
  
  overflow: auto;
}


.topnav{
  display:flex;
  flex-direction: row;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: start;
  justify-content: space-between;
  padding-bottom: 1%;
  margin-right: initial;
  
}
.two{
  display: block;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 10px;

}
/*Primary Colors: #2549D3, #0F298B, #FAFAFA
Font Styles: Space Grotesk, Oleo Script*/
.vallie{
  font-family: "Courgette", cursive;
  font-weight: 600;
  margin-right: 10%;
  font-family: 'Oreo Script';
  
  

  
  /*font-size: 200%; */
  
}
.home{
  color:#2549D3 ;
  margin-right: 40px;
  
  /*font-size: 150%;*/
}
.rent{
  
  margin-right: 40px;
  color: black;
  
}
 #land:hover{
  background-color: aqua;
  padding: 10%;
} 
a{
 
  text-decoration: solid;
  color: black;
}
.land a{
  margin-right: 40px;
  color: #2549D3;
  
}
.agent{
  margin-right: 40px;
 
}
.contact{
  margin-right: 40px;
 
}
.get{
  margin-left: 10%;
}

.helping{
  
  margin-right:40px;
  margin-bottom: 40px;
}
h2{
  color: #2549D3;
  
}

.location{
  display: block;
  clear: right;
}
main{
  margin-top: 0%;
}
.img1 {
  float: right;
  padding-bottom: 10px;
  margin-bottom: 40px;
}