body{
  background-color: #FAFAFA;
  margin: 40px 70px 20px 70px;
}
header{
  padding: 3%;
  width: 100%;

}
.topnav{
  width: 90%;
}
/*Primary Colors: #2549D3, #0F298B, #FAFAFA
Font Styles: Space Grotesk, Oleo Script*/